<head>
    <link rel="stylesheet" href="/static/css/workouts.css">
</head>

<body>
    <header>
        <header>
            <nav>
                <div class="navContainer">
                    <div class="newSearchLink">
                        <a href="/auth/logout" class="profileNav">Logout</a>
                        <a href="/profile" class="profileNav">Profile</a>
                    </div>
                    <div class="logLink">
                        <a href="/workouts/newPlan" class="profileNav">Plan a Workout</a>
                        <a href="/workouts/new" class="profileNav">Log a Workout</a>
                        <a class="profileNav" href="/exercises/search">Search for Exercises</a>
                    </div>
                </div>
            </nav>
        </header>
    </header>

    <div>
        <h1>Your Workouts</h1>
    </div>
    
    <div id="allWorkoutsContainer">
        <div>
            <h3>Planned Workouts:</h3>
            <ol>
                <% const removeRepeat = (arr => { %>
                    <% return arr.filter((value, index) => { %>
                        <% arr.indexOf(value) === index %>
                    <% }) %>
                <% }) %>
                <% const filteredRes = removeRepeat(results) %>
                <% filteredRes.forEach(workout => { %>
                    <% if(workout.dataValues.completed === false) { %>
                    <li>
                        <a href="/workouts/scheduled/<%= workout.scheduledDate %>/<%= workout.type %> "><%= workout.dataValues.scheduledDate %>: <%= workout.dataValues.type %> </a>
                    </li>
                    <% } %>
                <% }) %> 
            </ol>
        </div>
        <div>
            <h3>Completed Workouts:</h3>
            <ol>
                <% results.forEach(workout => { %>
                    <% if(workout.dataValues.completed === true) { %>
                    <li>
                        <a href="/workouts/<%= workout.id %>"><%= workout.dataValues.date %>: <%= workout.dataValues.type %> </a>
                    </li>
                    <% } %>
                <% }) %> 
            </ol>
        </div>
    </div>
</body>
