<head>
    <link rel="stylesheet" href="/static/css/workouts.css">
</head>

<body>
    <header>
        <nav>
            <%- include('../partials/userNavBar') %>
        </nav>
    </header>

    <div id="historyContainer">
        <div id="historyTitle">
            <h1>Your Workout History</h1>
        </div>
        <div id="completedList"> 
            <ol>
                <% results.forEach(workout=> { %>
                    <% if(workout.dataValues.completed===true) { %>
                        <li id="historyList">
                            <a href="/workouts/<%= workout.id %>">
                                <%= workout.dataValues.date %>: <%= workout.dataValues.type %>
                            </a>
                        </li>
                     <% } %>
                <% }) %>
            </ol>
        </div>
    </div>

    <footer class="shortFooter">
        <%- include('../partials/shortFooter') %>
    </footer>

    <!-- <div>
        <h3>Your Workouts History</h3>
        <ol>
            <% //const removeRepeat = (arr => { %>
                <% //return arr.filter((value, index) => { %>
                    <% //arr.indexOf(value) === index %>
                <% //}) %>
            <% //}) %>
            <% //const filteredRes = removeRepeat(results) %>
            <% //filteredRes.forEach(workout => { %>
                <% //if(workout.dataValues.completed === false) { %>
                <li>
                    <a href="/workouts/scheduled/<%= //workout.scheduledDate %>/<%= //workout.type %> "><%= //workout.dataValues.scheduledDate %>: <%= //workout.dataValues.type %> </a>
                </li>
                <% //} %>
            <% //}) %> 
        </ol>
    </div> -->
</body>