<head>
    <link rel="stylesheet" href="/static/css/workouts.css">
</head>

<body>
    <nav>
        <div class="navContainer">
            <div class="profileLink">
                <a href="/profile" class="searchNav">Profile</a>
            </div>
            <div class="logLink">
                <a href="/workouts/newPlan" class="searchNav">Plan a Workout</a>
                <a href="/workouts/new" class="searchNav">Log a Workout</a>
            </div>
            <div class="searchLink">
                <a href="/auth/logout" class="searchNav">Logout</a>
            </div>
        </div>
    </nav>

    <div id="buildContainer">
        <div id="buildList">
            <h4>Build Your Next Workout</h4>
            <!-- <ol>
                <li>
                    <%= //name %> 
                </li>
            </ol> -->
            <form method="" action="">
                <input type="submit" id="saveBtn" value="Save Workout">
            </form>
        </div>
        <div class="overflow-auto">
            <h4>All Your Saved Exercises </h4>
            <ul>
                <% exerciseSaves.forEach(exercise=> { %>
                    <li>
                        <% let name=exercise.name %>
                            <% name.replace('', '%20' ) %>
                                <a href="/exercises/saves/<%= exercise.id %>">
                                    <%= exercise.name %>
                                        <form method="POST" action="/workouts/newPlan">
                                            <input hidden type="text" name="name" value="<%= name %>">
                                            <% let equipment=exercise.equipment %>
                                                <input hidden type="text" name="equipment" value="<%= equipment %>">
                                                <input type="submit" id="addBtn" value="Add to Workout"></input>
                                        </form>
                                </a>
                    </li>
                    <% }) %>
            </ul>
        </div>
    </div>

</body>
















<!-- <div>
    <h6>Abs:</h6>
    <ul>
        <% exerciseSaves.forEach(exercise => { %>
            <% if(exercise.bodyPart === 'waist') { %>
                <li class="savedList" style="list-style-type:none">
                <% let name = exercise.name %>
                <% name.replace('', '%20') %>
                <a href="/exercises/saves/<%= exercise.id %>"><%= exercise.name %></a>
                </li>
            <% } %> 
        <% }) %> 
    </ul>
</div>

<div>
    <h6>Back:</h6>
    <ul>
        <% exerciseSaves.forEach(exercise => { %>
            <% if(exercise.bodyPart === 'back') { %>
                <li style="list-style-type:none">
                <% let name = exercise.name %>
                <% name.replace('', '%20') %>
                <a href="/exercises/saves/<%= exercise.id %>"><%= exercise.name %></a>
                </li>
            <% } %> 
        <% }) %> 
    </ul>
</div>

<div>
    <h6>Arms:</h6>
    <ul>
        <% exerciseSaves.forEach(exercise => { %>
            <% if(exercise.bodyPart === 'upper arms' || exercise.bodyPart === 'lower arms') { %>
                <li style="list-style-type:none">
                <% let name = exercise.name %>
                <% name.replace('', '%20') %>
                <a href="/exercises/saves/<%= exercise.id %>"><%= exercise.name %></a>
                </li>
            <% } %>
        <% }) %> 
    </ul>
</div>

<div>
    <h6>Calves:</h6>
    <ul>
        <% exerciseSaves.forEach(exercise => { %>
            <% if(exercise.bodyPart === 'calves') { %>
                <li style="list-style-type:none">
                <% let name = exercise.name %>
                <% name.replace('', '%20') %>
                <a href="/exercises/saves/<%= exercise.id %>"><%= exercise.name %></a>
                </li>
            <% } %> 
        <% }) %> 
    </ul>
</div>

<div>
    <h6>Chest:</h6>
    <ul>
        <% exerciseSaves.forEach(exercise => { %>
            <% if(exercise.bodyPart === 'chest') { %>
                <li style="list-style-type:none">
                <% let name = exercise.name %>
                <% name.replace('', '%20') %>
                <a href="/exercises/saves/<%= exercise.id %>"><%= exercise.name %></a>
                </li>
            <% } %> 
        <% }) %> 
    </ul>
</div>

<div>
    <h6>Legs:</h6>
    <ul>
        <% exerciseSaves.forEach(exercise => { %>
            <% if(exercise.bodyPart === 'upper legs') { %>
                <li style="list-style-type:none">
                <% let name = exercise.name %>
                <% name.replace('', '%20') %>
                <a href="/exercises/saves/<%= exercise.id %>"><%= exercise.name %></a>
                </li>
            <% } %> 
        <% }) %> 
    </ul>
</div>

<div>
    <h6>Shoulders:</h6>
    <ul>
        <% exerciseSaves.forEach(exercise => { %>
            <% if(exercise.bodyPart === 'shoulders') { %>
                <li style="list-style-type:none">
                <% let name = exercise.name %>
                <% name.replace('', '%20') %>
                <a href="/exercises/saves/<%= exercise.id %>"><%= exercise.name %></a>
                </li>
            <% } %> 
        <% }) %> 
    </ul>
</div> -->