<head>
    <link rel="stylesheet" href="/static/css/workouts.css">
</head>

<body>
    <header>
        <nav>
            <div class="navContainer">
                <div class="newSearchLink">
                    <a href="/auth/logout" class="profileNav">Logout</a>
                    <a href="/profile" class="profileNav">Profile</a>
                </div>
                <div class="logLink">
                    <a href="/workouts/newPlan" class="profileNav">Plan a Workout</a>
                    <a href="/workouts/new" class="profileNav">Log a Workout</a>
                    <a class="profileNav" href="/exercises/search">Search for Exercises</a>
                </div>
            </div>
        </nav>
    </header>

    <div>
        <div id="showTitle">
            <h1>Completed a <%= type %> workout in <%= duration %> minutes on <%= date %> </h1>
        </div>
        <div id="showCol">
            <div>
                <h3>Your Comments About this Workout:</h3>
            </div>
            <div id="commentsDiv">
                <% if (comments === null || comments === '') { %>
                    <h4 id="comment">You did not log any comments for this workout.</h4>
                    <% } else { %>
                        <%= comments %> 
                    <% } %>
            </div>
            <div>
                <% if (img === null) { %>
                    <h4 id="comment">You did not upload a photo for this workout.</h4>
                    <% } else { %>
                        <img src="<%= img %>" alt="photo uploaded by user for this workout">
                    <% } %>

            </div>
        </div>
    </div>

    <div id="editContainer">
        <form method="GET" action="/workouts/edit/<%= workoutId %>">
            <input type="submit" value="Edit Workout" id="editBtn">
        </form>
    </div>
</body>