<head>
    <link rel="stylesheet" href="/static/css/workouts.css">
</head>

<body>
    <header>
        <nav>
            <div class="navContainer">
                <div class="newSearchLink">
                    <a href="/auth/logout" class="profileNav">Logout</a>
                    <a href="/profile" class="profileNav">Profile</a>
                </div>
                <div class="logLink">
                    <a href="/workouts/newPlan" class="profileNav">Plan a Workout</a>
                    <a href="/workouts/new" class="profileNav">Log a Workout</a>
                    <a class="profileNav" href="/exercises/search">Search for Exercises</a>
                </div>
            </div>
        </nav>
    </header>

    <div>
        <h3>Completed a <%= type %> workout in <%= duration %> minutes on <%= date %> </h3>
    </div>
    <div>
        <div>
            <h4>Your Comments:</h4>
        </div>
        <div>
            <%= comments %> 
        </div>
    </div>
</body>

<form method="GET" action="/workouts/edit/<%= workoutId %>">
    <input type="submit" value="Edit Workout">
</form>