<head>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header>
        <nav>
            <div class="navContainer">
                <div class="profileLink">
                    <a href="/" class="searchNav">Home</a>
                </div>
                <div class="logLink middleLink">
                    <a href="/workouts/newPlan" class="searchNav">Plan a Workout</a>
                    <a href="/workouts/new" class="searchNav">Log a Workout</a>
                </div>
                <div class="searchLink">
                    <a href="/exercises/search" class="Search Exercises">Search Exercises</a>
                    <a href="/auth/logout" class="searchNav">Logout</a>
                </div>
            </div>
        </nav>
    </header>

    <div id="profileName">
        <h1>
            <%= currentUser.name %>'s Profile 
        </h1>
    </div>

    <div id="profileCol">
        <div id="profileRow">
            <div class="profileBox" id="profileRow">
                <h5 class="profileListTitle"><a href="/workouts">Workout History</a></h5>
                <ul>
                    <% results.forEach(workout => { %>
                        <% if(workout.dataValues.completed === true) { %>
                        <li>
                            <%= workout.dataValues.date %>
                        </li>
                        <% } %>
                    <% }) %> 
                </ul>
            </div>
            <div>
                <h5><a href="/workouts/scheduled">Planned Workouts</a></h5>
                <ul>
                    <% results.forEach(workout => { %>
                        <% if(workout.dataValues.completed === false) { %>
                            <li>
                                <%= workout.dataValues. scheduledDate %> 
                            </li>
                        <% } %>
                    <% }) %>
                </ul>
            </div>
        </div>
        <div class="profileBox">
            <h5 class="profileListTitle"><a href="/exercises/saves">Saved for Later Exercises</a></h5>
            <ul>
                <% saves.forEach(save => { %>
                    <li>
                        <%= save.dataValues.name %>
                    </li>
                <% }) %> 
            </ul>
        </div>
    </div>

    <!-- <div>
        <form enctype="multipart/form-data" action="/profile" method="POST">
            <input type="file" name="myFile">
            <input type="submit" value="Upload Photo">
        </form>
    </div> -->
    
    <footer class="shortFooter">
        <%- include('partials/shortFooter') %>
    </footer>
</body>