<h1><%= name %> </h1>
<h3>Muscle Group: <%= muscleGroup %> </h3>
<p>Description: <%= description %> </p>
<p>Primary Muscle Worked: <%= primaryMuscle %> </p>
<p>Secondary Muscle Worked: <%= secondaryMuscle %> </p>

<form action="">
    <input hidden type="text" name="exerciseName" value="<%= name %>">
    <button type="submit">Save for Later!</button>
</form>