<head>
    <link rel="stylesheet" href="/static/css/exercises.css">
</head>

<body>
    <header>
        <nav>
            <%- include('../partials/userNavBar') %>
        </nav>
        <div id="saved-header">
            <h1>All Your Saved Exercises </h1>
        </div>
    </header>
    
    <main class="saved-res-container id="savedContainer">
        <div class="saved-res-row" id="firstRow">
            <div id="chest" class="saved-list-container overflow-auto">
                <h3 class="muscle-title">Chest:</h3>
                <ul>
                    <% exerciseSaves.forEach(exercise => { %>
                        <% if(exercise.bodyPart === 'chest') { %>
                            <li>
                                <% let name = exercise.name %>
                                <% name.replace('', '%20') %>
                                <a href="/exercises/saves/<%= exercise.id %>" class="exerciseDetails"><%= exercise.name %></a>
                            </li>
                        <% } %> 
                    <% }) %> 
                </ul>
            </div>
            <div id="back" class="saved-list-container overflow-auto">
                <h3 class="muscle-title">Back:</h3>
                <ul>
                    <% exerciseSaves.forEach(exercise => { %>
                        <% if(exercise.bodyPart === 'back') { %>
                            <li>
                                <% let name = exercise.name %>
                                <% name.replace('', '%20') %>
                                <a href="/exercises/saves/<%= exercise.id %>" class="exerciseDetails"><%= exercise.name %></a>
                            </li>
                        <% } %> 
                    <% }) %> 
                </ul>
            </div>
            <div id="legs" class="saved-list-container overflow-auto">
                <h3 class="muscle-title">Legs:</h3>
                <ul>
                    <% exerciseSaves.forEach(exercise => { %>
                        <% if(exercise.bodyPart === 'upper legs') { %>
                            <li>
                            <% let name = exercise.name %>
                            <% name.replace('', '%20') %>
                            <a href="/exercises/saves/<%= exercise.id %>" class="exerciseDetails"><%= exercise.name %></a>
                            </li>
                        <% } %> 
                    <% }) %> 
                </ul>
            </div>
        </div>
    
        <div class="saved-res-row" id="secondRow">
            <div id="shoulders" class="saved-list-container overflow-auto">
                <h3 class="muscle-title">Shoulders:</h3>
                <ul>
                    <% exerciseSaves.forEach(exercise => { %>
                        <% if(exercise.bodyPart === 'shoulders') { %>
                            <li>
                            <% let name = exercise.name %>
                            <% name.replace('', '%20') %>
                            <a href="/exercises/saves/<%= exercise.id %>" class="exerciseDetails"><%= exercise.name %></a>
                            </li>
                        <% } %> 
                    <% }) %> 
                </ul>
            </div>
            <div id="arms" class="saved-list-container overflow-auto">
                <h3 class="muscle-title" >Arms:</h3>
                <ul>
                    <% exerciseSaves.forEach(exercise => { %>
                        <% if(exercise.bodyPart === 'upper arms' || exercise.bodyPart === 'lower arms') { %>
                            <li>
                            <% let name = exercise.name %>
                            <% name.replace('', '%20') %>
                            <a href="/exercises/saves/<%= exercise.id %>" class="exerciseDetails"><%= exercise.name %></a>
                            </li>
                        <% } %> 
                    <% }) %> 
                </ul>
            </div>
            <div id="calves" class="saved-list-container overflow-auto">
                <h3 class="muscle-title">Calves:</h3>
                <ul>
                    <% exerciseSaves.forEach(exercise => { %>
                        <% if(exercise.bodyPart === 'lower legs') { %>
                            <li>
                            <% let name = exercise.name %>
                            <% name.replace('', '%20') %>
                            <a href="/exercises/saves/<%= exercise.id %>" class="exerciseDetails"><%= exercise.name %></a>
                            </li>
                        <% } %> 
                    <% }) %> 
                </ul>
            </div>
        </div>
    
        <div class="saved-res-row" id="thirdRow">
            <div id="abs" class="saved-list-container overflow-auto overflow-auto">
                <h3 class="muscle-title">Abs:</h3>
                <ul>
                    <% exerciseSaves.forEach(exercise => { %>
                        <% if(exercise.bodyPart === 'waist') { %>
                            <li>
                            <% let name = exercise.name %>
                            <% name.replace('', '%20') %>
                            <a href="/exercises/saves/<%= exercise.id %>" class="exerciseDetails"><%= exercise.name %></a>
                            </li>
                        <% } %> 
                    <% }) %> 
                </ul>
            </div>
        </div>
    </main>
    <div id="addedSpace"></div>

    <!-- <footer class="shortFooter">
        <%- include('../partials/shortFooter') %>
    </footer> -->
</body>