<head>
    <link rel="stylesheet" href="/static/css/exercises.css">
</head>

<body>
    <header>
        <nav>
            <div class="navContainer">
                <div class="profileLink">
                    <a href="/profile" class="searchNav">Profile</a>
                </div>
                <div class="logLink">
                    <a href="/workouts/newPlan" class="searchNav">Plan a Workout</a>
                    <a href="/workouts/new" class="searchNav">Log a Workout</a>
                </div>
                <div class="searchLink">
                    <a href="/auth/logout" class="searchNav">Logout</a>
                </div>
            </div>
        </nav>
    </header>
    
    <div id="resHeader">
        <h1>Results Based on Your Search</h1>
    </div>
    
    <div id="firstRowRes">
        <div class="resListContainer overflow-auto"">
            <h3 class="equipmentTitle">Bands:</h3>
            <ul>
                <% results.forEach(result => { %>
                    <% if(result.equipment === 'assisted' || result.equipment === 'band' || result.equipment === 'resistance band') { %>
                        <% let name = result.name %>
                        <% name.replace('', '%20') %>
                        <li>
                            <a href="/exercises/<%= name %> "><%= result.name %></a>
                        </li>
                    <% } %>
                <% }) %>
            </ul>
        </div>
        <div class="resListContainer overflow-auto"">
            <h3 class="equipmentTitle">Barbells/Trap Bar:</h3>
            <ul>
                <% results.forEach(result => { %>
                    <% if(result.equipment === 'barbell' || result.equipment === 'ez barbell' || result.equipment === 'olympic barbell' || result.equipment === 'trap bar') { %>
                        <% let name = result.name %>
                        <% name.replace('', '%20') %>
                        <li>
                            <a href="/exercises/<%= name %> "><%= result.name %></a>
                        </li>
                    <% } %>
                <% }) %>
            </ul>
        </div>
        <div class="resListContainer overflow-auto"">
            <h3 class="equipmentTitle">Bodyweight:</h3>
            <ul>
                <% results.forEach(result => { %>
                    <% if(result.equipment === 'body weight') { %>
                        <% let name = result.name %>
                        <% name.replace('', '%20') %>
                        <li>
                            <a href="/exercises/<%= name %> "><%= result.name %></a>
                        </li>
                    <% } %>
                <% }) %>
            </ul>
        </div>
    </div>

    <div id="secondRowRes">
        <div class="resListContainer overflow-auto"">
            <h3 class="equipmentTitle">Cable:</h3>
            <ul>
                <% results.forEach(result => { %>
                    <% if(result.equipment === 'cable') { %>
                        <% let name = result.name %>
                        <% name.replace('', '%20') %>
                        <li>
                            <a href="/exercises/<%= name %> "><%= result.name %></a>
                        </li>
                    <% } %>
                <% }) %>
            </ul>
        </div>
        <div class="resListContainer overflow-auto"">
            <h3 class="equipmentTitle">Dumbbell/Plates:</h3>
            <ul>
                <% results.forEach(result => { %>
                    <% if(result.equipment === 'dumbbell' || result.equipment === 'weighted') { %>
                        <% let name = result.name %>
                        <% name.replace('', '%20') %>
                        <li>
                            <a href="/exercises/<%= name %> "><%= result.name %></a>
                        </li>
                    <% } %>
                <% }) %>
            </ul>
        </div>
        <div class="resListContainer overflow-auto"">
            <h3 class="equipmentTitle">KettleBell:</h3>
            <ul>
                <% results.forEach(result => { %>
                    <% if(result.equipment === 'kettlebell') { %>
                        <% let name = result.name %>
                        <% name.replace('', '%20') %>
                        <li>
                            <a href="/exercises/<%= name %> "><%= result.name %></a>
                        </li>
                    <% } %>
                <% }) %>
            </ul>
        </div>    
    </div>

    <div id="thirdRowRes">
        <div class="resListContainer overflow-auto"">
            <h3 class="equipmentTitle">Medicine/Bosu/Stability Ball:</h3>
            <ul>
                <% results.forEach(result => { %>
                    <% if(result.equipment === 'bosu ball' || result.equipment === 'stability ball' || result.equipment === 'medicine ball') { %>
                        <% let name = result.name %>
                        <% name.replace('', '%20') %>
                        <li>
                            <a href="/exercises/<%= name %> "><%= result.name %></a>
                        </li>
                    <% } %>
                <% }) %>
            </ul>
        </div>
        <div class="resListContainer overflow-auto"">
            <h3 class="equipmentTitle">Smith Machine:</h3>
            <ul>
                <% results.forEach(result => { %>
                    <% if(result.equipment === 'smith machine') { %>
                        <% let name = result.name %>
                        <% name.replace('', '%20') %>
                        <li>
                            <a href="/exercises/<%= name %> "><%= result.name %></a>
                        </li>
                    <% } %>
                <% }) %>
            </ul>
        </div>
        <div class="resListContainer overflow-auto"">
            <h3 class="equipmentTitle">Other:</h3>
            <ul>
                <% results.forEach(result => { %>
                    <% if(result.equipment === 'elliptical machine' || result.equipment === 'hammer' || result.equipment === 'leverage machine' || result.equipment === 'roller' || result.equipment === 'rope' || result.equipment === 'skierg machine' || result.equipment === 'sled machine' || result.equipment === 'stepmill machine' || result.equipment === 'tire' || result.equipment === 'upper body ergometer' || result.equipment === 'wheel roller') { %>
                        <% let name = result.name %>
                        <% name.replace('', '%20') %>
                        <li>
                            <a href="/exercises/<%= name %> "><%= result.name %></a>
                        </li>
                    <% } %>
                <% }) %>
            </ul>
        </div>
    </div>
    <div id="addedSpace"></div>
</body>