<head>
    <link rel="stylesheet" href="/static/css/exercises.css">
</head>

<nav>
    <!-- <a href="/exercises/search/results">Back to Results List</a> -->
    <a href="/exercises/search">Start a New Search</a>
</nav>

<h1><%= name %> </h1>
<h3>Body Part: <%= bodyPart %> </h3>
<p>Equipment: <%= equipment %> </p>
<p>Muscle Targeted: <%= targetMuscle %> </p>
Exercise Demo: <img src="<%= demoVid %>" alt = "animation demo of <%= name %> ">
<br>
<form method="POST" action="/exercises/saves">
    <input hidden type="text" name="name" value="<%= name %>">
    <input hidden type="text" name="bodyPart" value="<%= bodyPart %>">
    <input hidden type="text" name="equipment" value="<%= equipment %>">
    <input hidden type="text" name="muscleTargeted" value="<%= targetMuscle %>">
    <input hidden type="text" name="exerciseDemo" value="<%= demoVid %>">
    <button type="submit">Save for Later!</button>
</form>