<h1>Details On Your Saved Exercise</h1>

<h3><%= name %> </h1>
<h5>Body Part: <%= bodyPart %> </h3>
<p>Equipment: <%= equipment %> </p>
<p>Muscle Targeted: <%= muscleTargeted %> </p>
Exercise Demo: <img src="<%= exerciseDemo %>" alt = "animation demo of <%= name %> ">

<form method="POST" action="/exercises/saves/<%= id %>?_method=DELETE">
    <input type="submit" value="Unsave">
</form>