<head>
    <link rel="stylesheet" href="/static/css/exercises.css">
</head>

<body>
    <header>
        <nav>
            <div class="navContainer">
                <div class="newSearchLink">
                    <a href="/exercises/search" class="searchNav">Start a New Search</a>
                </div>
                <div class="logLink">
                    <a href="/workouts/new" class="searchNav">Log a Workout</a>
                </div>
                <div class="searchLink">
                    <a href="/auth/logout" class="searchNav">Logout</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="exerciseName">
        <h1>Your Saved Exercise: <%= name %> </h1>
    </div>
    <div class="exerciseBody">
        <div>
            <img src="<%= exerciseDemo %>" alt = "animation demo of <%= name %> ">
        </div>
        <div class="exerciseInfo">
            <div class="info">
                <% if(bodyPart === 'waist'){ %>
                    <% newName = 'Abs' %>
                    <p>Muscle Group: <%= newName %> </p>
                    <% } else { %>
                        <p>Muscle Group: <%= bodyPart %></p>
                <% } %> 
                <p>Equipment: <%= equipment %> </p>
                <p>Muscle Targeted: <%= muscleTargeted %> </p>
            </div>
        </div>
    </div>
    <div class="showForm">
        <form method="POST" action="/exercises/saves/<%= id %>?_method=DELETE">
            <input id="unsaveBtn" type="submit" value="Unsave">
        </form>
    </div>

    <footer class="shortFooter">
        <%- include('../partials/shortFooter') %>
    </footer>
</body>